@font-face{
	font-family: 'Marker';
	src: url("../fonts/SF_Arch_Rival.ttf") format('truetype');
}

body{
	font-family:Arial;
	text-align:left;
	background-repeat: no-repeat;
    background-attachment: fixed;
	/*background-color:#00898e;*/
	background: radial-gradient(
      #00e8f0,
      #007075
    );
	margin:0px;
	padding:0px;
	overflow:hidden;
}

a{
	color:white;
	 text-decoration: none;
}

a:visited{
	color:white;
	 text-decoration: none;
}

.topLogo{
	
	margin-top:0px;
	margin-left:15px;
	color: white;
	font-size:35px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-shadow:2px 2px 4px #000000;
	display:inline-block;
	float:left;
}

.topNav{
	margin-top:5px;
	margin-right:15px;
	display:inline-block;
	vertical-align:bottom;
	float:right;
	text-align:right;
	color:white;
	font-weight:bold;
	line-height:25px;
	text-shadow:2px 2px 2px #000000;
}

.floater{
	min-width:1024px;
	max-width:1350px;
	margin-left:auto;
	margin-right:auto;
}

#headerBar{
	margin:0px;
	position:relative;
	top:0px;
	margin-bottom:10px;
	background-color:#7266AB;
	background: linear-gradient(#7266AB, #4F4777);
	width:100%;
	height:60px;
}

#bbFooter{
	color:white;
	background-color:#7266AB;
	background: linear-gradient( #4F4777, #3F385F );
	text-align:center;
	text-shadow:2px 2px 2px black;
	height:40px;
	padding-top:8px;
	position:absolute;
	width:100%;
}

#bigBoard{
	clear:both;
	vertical-align:top;
	padding-top:20px;
	max-width:1400px;
	height:500px;
	border: 20px ridge #cccccc;
	text-align:center;
	background-color:white;
	background:linear-gradient(#ffffff, #dddddd);
	overflow:scroll;
	box-shadow:3px 5px 8px #000;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	
}

.miniList{
	list-style-type: decimal;
	list-style-position:outside;
	margin-top:5px;
	padding-bottom:5px;
	
}

.miniListDiv{
	border: 2px dotted black;
	border-radius:5px;
	min-height:150px;
}

.miniListDiv div {
	margin-top:5px;
}

.miniListDiv span {
	padding:2px;
}

.fpUserBox{
	display:inline-block;
	font-family: Arial, sans-serif;
	font-size:18px;
	width:240px;
	padding:5px 5px 0px 5px;
	margin-left:20px;
	margin-bottom:20px;
	vertical-align:top;
	text-align:left;
}
.fpUser{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	white-space:nowrap;
}
.titleTile{
	margin-top:5px;
	
}

.liDivContainer{
	white-space: nowrap;
}

/*List shaders*/

.white{
	background-color:white;
}

.fpUserBox .white{
	background-color:transparent;
}

.green{
	background-color:rgba(0, 255, 0, .5);
}

.red{
	background-color:rgba(255, 0, 0, .4);
}

.yellow{
	background-color:rgba(255, 255, 0, .5);
}

.orange{
	background-color:rgba(255, 255, 0, .5);
}