h2{
	margin:0px;
	margin-top:20px;
}

#aiLabel{
	font-weight:bold;
	margin-right:20px;
	font-size:20px;
}

a{
	color:white;
}

a:visited{
	color:white;
}

input, label {
    display:block;
}

.inputBtn {
    display:inline-block;
    margin-right: 10px;
}

#submitDiv{
	margin-top:20px;
}

.dropdownCorale{
	
}

.ddcUnit{
	display:inline-block;
	margin-right:20px;
}

li{
	margin-top:10px;
	cursor:pointer;
	border:1px solid black;
	padding:5px;
}

.listBlockDisplay{
	text-align:left;
	display:inline-block;
	width:85%;
	vertical-align:middle;
	max-height: 70px;
	overflow:hidden;
}

.listBlockButton{
	display:inline-block;
	vertical-align:middle;
}

.listDelete{
	
	display:inline;
	text-align:center;
	vertical-align:middle;
	padding: 1px 4px 1px 4px;
	font-size:22px;
	font:"Arial Black", Arial, sans-serif;
	color:white;
	background-color:#dd0000;
	border-radius:5px;
	border:1px solid black;
	cursor:pointer;
}

.listEdit{
	cursor:pointer;
}

#userPropTableDiv{
	margin-left:20px;
	text-align:center;
	width:100%;
	
	min-height:400px;
	max-height:400px;
	overflow:scroll;
}
#userPropTable{
	width:100%;

	border-collapse:collapse;
	border:2px solid black;
	margin-top:20px;
	
	
}

#userPropTable th{
	background-color: rgba(0, 200, 200, .5);
	border:2px solid black;
}
#userPropTable td{
	border:1px solid black;
}
tr{
	border:1px solid black;
}
.panel{
	float:left;
	min-height:540px;
	
}

.title{
	font-weight:bold;
}

.message{
	width:80%;
}

#inner{
	
	padding-bottom:20px;
}

#listBox{
	width:60%;
}

#inputBox{
	width:40%;
	text-align:center;
}

.formWrapper{
	text-align:left;
	width:270px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	padding:15px;
}

.color{
	background-color: rgba( 0, 255, 0, .5);
}

.colorChip{
	display:none;
}

#editItem{
	width:270px;
	display:none;
}

.inputTitle{
	
	margin-bottom:20px;
	font:17px Arial, sans-serif;
	font-weight:bold;
	color: rgba(0, 0, 0, .8);
	
}

.descrip{
	height:150px;
	margin-bottom:20px;
	width:100%;
	font:15px Arial, sans-serif;
}

label{
	
}

#priority{
	width:50px;
	display:inline-block;
}
.inputWrapper{
	display:inline-block;
}

#allItemsList{
	margin-left:20px;
	list-style-type: decimal;
	list-style-position:outside;
	min-height:400px;
	max-height:400px;
	overflow:scroll;
	border:1px solid black;
}
#bigBoard{
	overflow:hidden;
	padding:0px;
}
/*Manage Users Stuff*/

#deleteCol{
	display:block;
	width:100%;
	text-align:center;
}

#updateConfirmDiv{
	display:inline-block;
	margin-top:20px;
	padding:5px;
	border:1px solid black;
	width:270px;
}

#checkBoxDiv{
	display:inline;
}

#checkBoxDiv input {
	display:inline-block;
}
